<h1 class="hero-unit">Cary's Lounge Cocktail List</h1>

<h2>Name</h2>

<ul>
<% @cocktails.each do |cocktail| %>
    <li><p class="lineTitle"><%= cocktail.name.titleize %></p>
      <p><%= link_to 'Show', cocktail, :class => 'btn' %></p>
      <% ctlStr = "#{cocktail.name.titleize}" #string interpolation of ingredient name %>
      <p><%= link_to 'Delete', cocktail, method: :delete, :class => 'btn', data: { confirm: 'Delete the cocktail \'' + ctlStr + '\'?' } %></p>
    </li>

<% end %>
</ul>

<br />

<%= link_to 'Add New Cocktail', new_cocktail_path, :class => 'btn' %>
